@import "menus/menu.scss";
@import "animations/anim.scss";
@import "variables.scss";

@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}
// global

body {
    font-family: 'Raleway';
    font-weight: normal;
    color: black;
    margin: 0;
    justify-content: center;
}
h1 {
    font-size: 18px;
    font-weight: 900;
}

h2 {
    font-size: 16px;
    font-weight: 800;
}

h3 {
    font-size: 14px;
    font-weight: 700;
}

p {
    font-size: 12px;
}
    
header {
    font-family: 'raleway';
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    .referencement {
        display: none;
    }

    #logo {
        width: 163px;
    }

    .localisation {
        background-color: $darkgrey;
        display: flex;
        flex-direction: row;
        align-items: center;
    }



}

 

main {
    background-color: $grey;
}

